.text-center{
  /* position: absolute;
  left: 10%;
  top: 50%; */
  width: 550px;
    margin-left: 460px;
    padding: 25px;
    text-align: center;
  }
  
  .bg-reg{
    background: rgb(241, 186, 36);
  }
  .bg-red{
    background-color: rgb(6, 147, 172);
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }